@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

:root {
  /* set variables as colours, will save time when the colours in the page has to change*/
  --clr-blue: #bee1ff;
  /*this is how a variable in css must be set up*/
  --clr-black: #202020;
  --clr-dark: #454545;
  --clr-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*CJ- index.ejs styling*/
.map-div {
  position: relative;
  height: 100vh;
  width: 100vw;
  border: solid var(--clr-blue) 5px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 0;
}

/* CJ- map.ejs styling */
/* CJ- info window content */
.info-window-content {
  display: grid;
  grid-template-columns: 1fr 200px;
  background-color: var(--clr-blue);
  color: white;
  border: solid var(--clr-white) 5px;
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  min-height: 150px;
  width: 100%;
  max-width: 600px;
}
/* CJ- Text container */
.text-container {
  padding-right: 20px;
}
/* CJ- info window image styling */
.info-window-content img {
  width: 100%;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
}

/* CJ- infowindow expand/collapse button */
.expand-collapse-btn {
  background-color: white;
  color: var(--clr-blue);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

/* CJ- Hides the extra text by default */
.extra-text {
  display: none;
}

/* CJ- Image and Source button container */
.image-source-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 200px;
}

/* CJ- Source button */
.source-btn {
  display: block;
  background-color: white;
  color: var(--clr-blue);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 2px;
  text-decoration: none;
  width: fit-content;
  margin-top: 10px;
  border-radius: 5px;
}
/* CJ- event type */
.event-type-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* CJ- event type button */
.toggle-btn {
  background-color: white;
  color: var(--clr-blue);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 2px;
  text-decoration: none;
  width: fit-content;
  margin-top: 10px;
  border-radius: 5px;
}
/*CJ- to align Type and Button*/
.event-type-container p,
.event-type-container .toggle-btn {
  margin: 0;
  padding: 0;
}
/*CJ- directions button*/
.directions-btn {
  display: block;
  background-color: white;
  color: var(--clr-blue);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 2px;
  text-decoration: none;
  width: fit-content;
  margin-top: 10px;
  border-radius: 5px;
}

/* CJ- directions button container */
.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* CJ- consistant button borders */
.toggle-btn,
.expand-collapse-btn,
.directions-btn,
.source-btn {
  border: 1px solid var(--clr-blue);
}

@media only screen and (max-width: 600px) {
  /*CJ- Adjusting the grid layout for smaller screens */
  .info-window-content {
    grid-template-columns: 1fr;
  }

  /*CJ- Adjusting the image and source button container for smaller screens */
  .image-source-container {
    width: 100%;
    align-items: center;
  }

  /*CJ- Adjusting the text container padding for smaller screens */
  .text-container {
    padding-right: 0;
  }

  /*CJ- Adjusting the button container for smaller screens */
  .btn-container {
    flex-direction: column;
    align-items: center;
  }
}

/*CJ- nav.ejs styling*/
/* Portrait Mode Portrait Mode Portrait Mode Portrait Mode Portrait Mode Portrait Mode Portrait Mode Portrait Mode Portrait Mode Portrait Mode Portrait Mode Portrait Mode */
@media only screen and (orientation: portrait) {
  .nav-bar {
    display: grid;
    grid-template-areas:
      "top-left . top-right"
      "bottom-left . bottom-right";

    height: 100px;
    align-items: baseline;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .item:nth-child(1) {
    grid-area: top-left;
  }

  .item:nth-child(4) {
    grid-area: top-right;
  }

  .item:nth-child(5) {
    grid-area: bottom-left;
  }

  .item:nth-child(3) {
    grid-area: bottom-right;
  }

  /* This groups the button and image together so that I can force it to the bottom. */
  .parent {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: auto;
    border: none;
    padding: 0%;
    background: none;
  }

  .modal {
    position: fixed;
    /* Positioned relative to the viewport */
    width: 80%;
    top: 0;
    /* Align to the top */
    left: 0;
    /* Align to the left */
    transform: none;
    /* Remove the transform */
    background-color: var(--clr-blue);
    border: solid var(--clr-white) 5px;
    overflow: none;
    /* no scroll */
    margin: 0;
    /* Remove any margins */
    border-radius: 20px;
    display: none;
    /* Hidden by default */
  }

  .legend-modal {
    height: 60%;
    overflow: none;
  }
}

/* Landscape Mode Landscape Mode Landscape Mode  Landscape Mode Landscape Mode Landscape Mode Landscape Mode Landscape Mode Landscape Mode Landscape Mode (So I can see better)) */
@media only screen and (orientation: landscape) {
  .nav-bar {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    z-index: 10;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
  }

  .parent {
    position: relative;
  }

  /* The Modal (background) */
  .modal {
    border: solid var(--clr-white) 5px;
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Positioned relative to the button */
    z-index: 1;
    /* Sit on top */
    width: 150%;
    /* Adjust width as needed */
    background-color: var(--clr-blue);
    /* Background color */
    overflow: none;
    /* no scroll */
    margin: 0;
    /* Remove any margins */
    border-radius: 20px;
    transform: translateX(-50%);
  }

  .legend-modal {
    width: 450%;
    /* Adjust as needed */
  }
}
@media only screen and (max-width: 1500px) and (orientation: landscape) {
  .legend-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust as needed */
  }
}
/* Common Styles Common Styles Common Styles Common Styles Common Styles Common Styles Common Styles Common Styles Common Styles Common Styles Common Styles Common Styles */
.nav-bar {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  z-index: 10;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
}

.item {
  width: 16vw;
  height: 8vw;
  background-color: var(--clr-blue);
  border: solid var(--clr-white) 5px;
  text-align: center;
  font-size: min(max(3vw, 16px), 32px);
  border-radius: 20px;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-white);
  cursor: pointer;
  min-width: 80px;
  max-width: 160px;
  min-height: 50px;
  max-height: 80px;
}

.item.homeBTN {
  background: transparent;
  border: none;
  margin: auto;
}

.home-logo {
  width: 100%;
  height: auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--clr-white);
  margin: 5% auto;
  width: 90%;
  padding: 5%;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centers the content vertically */
  justify-content: center;
  /* Centers the content horizontally */
}

.button-modal-container {
  position: relative;
  /* Establish a new positioning context */
  display: inline-block;
  /* Allow multiple containers to sit side-by-side */
}

.modal-content form {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10%;
}

.modal-content label {
  font-size: 1.2em;
  color: var(--clr-black);
}

.modal-content input[type="email"],
.modal-content input[type="password"],
.modal-content input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 1px 0;
  border-radius: 5px;
  border: 1px solid var(--clr-dark);
}

.modal-content input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content input[type="submit"]:hover {
  background-color: #45a049;
}

.modal-content button {
  background-color: #f44336;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.modal-content button:hover {
  background-color: #e60000;
}

textarea {
  resize: vertical;
  /* Allows vertical resize only */
  max-height: 500px;
  /* Maximum height */
  min-height: 200px;
  /* Minimum height */
  width: 100%;
  /* Makes the input fields take up the full width of the form */
  border: 1px solid var(--clr-dark);
  border-radius: 5px;
}

.legend-content img {
  height: 30px;
  width: auto;
  vertical-align: middle;
}

.legend-content h2 {
  font-size: 2em;
  /* Make the title larger */
  margin-bottom: 20px;
  /* Add some space below the title */
}

.legend-content ul {
  list-style-type: none;
  /* Remove the default bullet points */
  padding-left: 0;
  /* Align the list items with the rest of the content */
}

.legend-content ul li {
  margin-bottom: 10px;
  /* Add some space between list items */
}

.legend-content ul li img {
  height: 26px;
  width: auto;
  vertical-align: middle;
  margin-right: 10px;
  /* Add some space between the icon and the text */
}

.legend-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  /* Enables vertical scrolling */
  max-height: 100%;
  /* Prevents the modal from taking up the whole screen */
}

.section {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2em;
  /* Increase the font size */
  color: var(--clr-white);
  /* Change the text color */
  background-color: var(--clr-blue);
  /* Change the background color */
  padding: 10px;
  /* Add some padding */
  border-radius: 20px;
  /* Round the corners */
}

.event-types-status {
  display: flex;
  justify-content: space-around;
}

.event-types,
.event-status {
  width: 45%;
  /* Adjust as needed */
}

.examples {
  margin-top: auto;
  /* Pushes the section to the bottom */
}

.crosshair {
  position: absolute;
  visibility: hidden;
  /* Make the crosshair initially invisible */
}

.crosshair img {
  height: 30px;
  /* Adjust as needed */
  width: auto;
}
