:root{  /* set variables as colours, will save time when the colours in the page has to change*/
    --clr-blue:#bee1ff; /*this is how a variable in css must be set up*/
    --clr-black: black;
    --clr-bright: yellow;
    --clr-white:white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/*Home Page styling*/

.map-div{
    height: 100vh;;
    width: 100%;
    border: solid var(--clr-blue) 5px;
   
    margin: 0 auto;
}



.nav-bar{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    
}

.item{
    width: 200px;
    height: 100%;
    background-color: var(--clr-blue);
    border: solid var(--clr-white) 5px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
   
}


.nav-bar{
    position: sticky;
    display: flex;
    justify-content: space-evenly;
}

/*contact pop css, only used for testing purposes */
#map-div{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}
.login_signupBTN{
    float: left;
}

/* feel free to edit anything except for the ones that I have a commet above I need them for the pop up */
.contactPage{
    height: 800px;
    width: 800px;
    margin: auto;
  
    text-align: center;
    line-height: 800px;
    /*don't touch this, need it for the pop up */
    visibility: hidden;
    
}
/*don't touch this, need it for the pop up */
.open-contactPage{
    visibility: visible;
}

/*you can edit this to how you like */

.contactForm{
    height: 800px;
    width: 800px;
    margin: auto;
    border: 5px solid var(--clr-blue);
    text-align: center;
    /* margin auto seems to make old elements to disappear from the form and only display new elements*/
    border: 3px solid blue;
   /* this keeps the pop ups looking okay */
    overflow-y: hidden;
    overflow-x: hidden;
}




/*Login Styling*/

.forming {
    height: 700px;
    width: 500px;
    border:solid var(--clr-bright) 5px;
    margin: 0 auto;
    margin-top: 50px;
    
}

/*Positioning of the elements for login/signup */

.forming{
    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

.labels{
    text-align: center;
    line-height: 100px;
}

.sign{
    grid-row:1/2;
    grid-column: 2/3;
    text-align: center;
    line-height: 100px;
}

.emailS{
    background-color: var(--clr-blue);
}

.emailS{
    grid-row: 2/3;
    grid-column: 2/3;
}

.emailtf{
    grid-row: 3/4;
    grid-column: 2/5;
}

.passwordl{
    background-color: var(--clr-blue);
}

.passwordl{
    grid-row:4/5;
    grid-column: 2/3;
}

.passwordtf{
    grid-row: 5/6;
    grid-column: 2/5;
}

#submit{
    grid-row: 6/7;
    grid-column: 2/5;
}





