:root {
    /* set variables as colours, will save time when the colours in the page has to change*/
    --clr-blue: #bee1ff;
    /*this is how a variable in css must be set up*/
    --clr-black: black;
    --clr-bright: yellow;
    --clr-white: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Home Page styling*/

.map-div {
    position: relative;
    height: 100vh;
    width: 100%;
    border: solid var(--clr-blue) 5px;
    background-color: aqua;
    margin: 0 auto;
    overflow: hidden;
}

.nav-bar {
    margin-top: 20px;
    width: 100%;
    height: 100px;

}

.item {
    width: 8vw;
    height: 8vh;
    background-color: var(--clr-blue);
    border: solid var(--clr-white) 5px;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 20px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--clr-white);
    cursor: pointer;
}


.nav-bar {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
}

.home-logo {
    width: 100%;
    height: auto;
}

.item.homeBTN {
    background: transparent;
    border: none;
}

/* The Modal (background) */
.modal {
    border: solid var(--clr-white) 5px;
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Positioned relative to the button */
    z-index: 1;
    /* Sit on top */
    width: 150%;
    /* Adjust width as needed */
    background-color: var(--clr-blue);
    /* Background color */
    overflow: none;
    /* no scroll */
    margin: 0;
    /* Remove any margins */
    border-radius: 20px;
    transform: translateX(-50%);
}


/* Position the modal below the button */
.modal:before {
    content: "";
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fefefe;
    /* Same color as the modal background */
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 10% from the top and centered */
    padding: 5px;
    width: 90%;
    /* Could be more or less, depending on screen size */
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.button-modal-container {
    position: relative;
    /* Establish a new positioning context */
    display: inline-block;
    /* Allow multiple containers to sit side-by-side */
}

.modal-content form {
    /* Center the text in the form */
    text-align: center;
}

.modal-content label {
    /* Change the font size and color of the labels */
    font-size: 1.2em;
    color: #333;
}

.modal-content input[type="email"],
.modal-content input[type="password"] {
    /* Style the email and password fields */
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content input[type="submit"] {
    /* Style the submit button */
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content input[type="submit"]:hover {
    /* Change the background color when hovering over the submit button */
    background-color: #45a049;
}

.modal-content button {
    /* Style the switch mode button */
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.modal-content button:hover {
    /* Change the background color when hovering over the switch mode button */
    background-color: #e60000;
}

textarea {
    resize: vertical; /* Allows vertical resize only */
    max-height: 600px; /* Maximum height */
    min-height: 200px; /* Minimum height */
}

.crosshair {
    position: absolute;
    visibility: hidden; /* Make the crosshair initially invisible */
}

.crosshair img {

    height: 30px; /* Adjust as needed */
    width: auto;

}

.modal-content img {
    height: 30px;
    width: auto;
    vertical-align: middle;
}

.legend-modal {
    width: 500%; /* Adjust as needed */
}
