:root{  /* set variables as colours, will save time when the colours in the page has to change*/
    --clr-blue:rgb(83, 201, 224); /*this is how a variable in css must be set up*/
    --clr-black: black;
    --clr-bright: yellow;
    --clr-white:white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/*Home Page styling*/

.map-div{
    height: 1920px;
    width: 100%;
    border: solid var(--clr-blue) 5px;
    background-color: var(--clr-blue);
    margin: 0 auto;
}

.nav-bar{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    
}

.item{
    width: 200px;
    height: 100%;
    background-color: var(--clr-blue);
    color: var(--clr-bright);
    text-align: center;
    border-radius: 20px;
   
}


.nav-bar{
    display: flex;
    justify-content: space-evenly;
}

/*Login Styling*/

.forming {
    height: 700px;
    width: 500px;
    border:solid var(--clr-bright) 5px;
    margin: 0 auto;
    margin-top: 50px;
    
}

/*Positioning of the elements for login/signup */

.forming{
    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

.labels{
    text-align: center;
    line-height: 100px;
}

.sign{
    grid-row:1/2;
    grid-column: 2/3;
    text-align: center;
    line-height: 100px;
}

.emailS{
    background-color: var(--clr-blue);
}

.emailS{
    grid-row: 2/3;
    grid-column: 2/3;
}

.emailtf{
    grid-row: 3/4;
    grid-column: 2/5;
}

.passwordl{
    background-color: var(--clr-blue);
}

.passwordl{
    grid-row:4/5;
    grid-column: 2/3;
}

.passwordtf{
    grid-row: 5/6;
    grid-column: 2/5;
}

#submit{
    grid-row: 6/7;
    grid-column: 2/5;
}





