<!-- <script>
     //start of davids code
     function fetchAndLoadJSON(url, divId) {
          // Fetch the JSON data
          fetch(url)
              .then(response => response.json())
              .then(data => {
                  // Clear the existing content of the div
                  document.getElementById(divId).innerHTML = '';
      
                  // Loop through the data and append it to the div
                  data.forEach(item => {
                      document.getElementById(divId).innerHTML += `<p>${JSON.stringify(item)}</p>`;
                  });
              })
              .catch(error => console.error('Error fetching JSON:', error));
      }
      
      // Call the function with the URL of your local JSON file and the ID of the div where you want to load the data
      fetchAndLoadJSON('eventsData.json', 'loadAPI');


</script> -->