
    <form action="" class="forming signup">
        <h2 class="head-form sign"> <%= title %> </h2>
        <label class="labels emailS">Email: </label>
        <input type="text" class="tf emailtf">
        <label class="labels passwordl">Password: </label>
        <input type="text" class="tf passwordtf">
        <button id="submit"><%= title %></button>
    </form>

    
