<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!-- needs to be changed to WhatsOn because ther is no Home -->
    <title>WhatsOn | <%= title %></title> 
</head>