    <script>
      //  CJ- using callback function “initMap” from Google Map Script API URL.  This ensures the javascript will only run once the API has finished loading, otherwise it would run before map exists.
       function initMap() {
        // <!-- CJ- targeting "map-div" to load map -->
        map = new google.maps.Map(document.getElementById("map-div"), {
          // CJ- loads map at specific lattitude and longitude
          center: { lat: 53.349076911151386, lng: -6.242441879918039 },
          // CJ- defines the zoom level
          zoom: 14,
          // CJ- mapId is the id of the map created in Google Cloud Platform
          mapId: "13185b1ffbbba3af",
          //CJ- remove default map controls from map
          mapTypeControl: false,
          fullscreenControl: false,
          streetViewControl: false,
        });

//CJ- TO-DO- array list storing "Dublin Events" 
//CJ- TO-DO- inside FOR loop to iterate through array list and create markers/windows fro each event

        //CJ- Variable to keep track of the open info window
        let currentInfoWindow = null;

//CJ- Hardcoded markers and info windows for events
        //CJ- Function to handle marker click events
        function handleMarkerClick(marker, infowindow) {
        return function() {
            // Close the current info window if it's open
            if (currentInfoWindow) {
            currentInfoWindow.close();
            }

            // CJ- open info window on map at marker location
            infowindow.open(map, marker);

            // Set the current info window to the newly opened one
            currentInfoWindow = infowindow;
        };
        }

        // CJ- creates new constant named marker to attach to event listener to open info window
        const marker1 = new google.maps.Marker({
        // CJ- sets the location of marker
        position: { lat: 53.34904445277732, lng: -6.2430142587188975 },
        map,
        //CJ- title of marker
        title: "Education: Starting",
        icon: {
            // CJ- location of icon image
            url: "EdS.png",
            // CJ- new Google maps object that defines the size of icon image
            scaledSize: new google.maps.Size(48, 48),
        },
        //CJ- animation that drops pin from top of the map
        animation: google.maps.Animation.DROP,
        });

        //CJ- new info window object set to open when marker is clicked
        const infowindow1 = new google.maps.InfoWindow({
        // CJ- div class to style info window content
        content: `
            <div class="info-window-content">
            <h3>Education</h3>
            <p>Status: Starting</p>
            <p>Location: National College Of Ireland</p>
            <p>Mayor Street Lower</p>
            <p>Join us for an enlightening evening of knowledge and camaraderie.</p>
            <p>Let's expand our horizons and make lasting memories together!</p>
            </div>
        `
        });

        // CJ- event listener that opens info window when clicked click to open event window
        marker1.addListener("click", handleMarkerClick(marker1, infowindow1));

        const marker2 = new google.maps.Marker({
        position: { lat: 53.36013894903569, lng: -6.260932804848787 },
        map,
        title: "Social: Starting",
        icon: {
            url: "SoS.png",
            scaledSize: new google.maps.Size(48, 48),
        },
        animation: google.maps.Animation.DROP,
        });

        const infowindow2 = new google.maps.InfoWindow({
        content: `
            <div class="info-window-content">
            <h3>Social</h3>
            <p>Status: Starting</p>
            <p>Location: Dorset Street Lower</p>
            <p>Dublin, DO1A2Y5</p>
            <p>Join us for a fun-filled evening of laughter and entertainment. </p>
            <p>Let's create unforgettable memories together!</p>
            </div>
        `
        });

        // CJ- event listener that opens info window when clicked click to open event window
        marker2.addListener("click", handleMarkerClick(marker2, infowindow2));

          const marker3 = new google.maps.Marker({
            position: { lat: 53.355, lng: -6.26 },
            map,
            title: "Charity: Ending",
            icon: {
              url: "Che.png",
              scaledSize: new google.maps.Size(48, 48),
            },
            animation: google.maps.Animation.DROP,
          });

          const infowindow3 = new google.maps.InfoWindow({
            content: `
          <div class="info-window-content">
            <h3>Charity</h3>
            <p>Status: Ending</p>
            <p>Location: O'Connell Street Upper</p>
            <p>Dublin, DO1A2Y5</p>
            <p>Join us for a noble cause and make a difference in the world!</p>
            </div>
          `
          });   

        // CJ- event listener that opens info window when clicked click to open event window
        marker3.addListener("click", handleMarkerClick(marker3, infowindow3));

          const marker4 = new google.maps.Marker({
            position: { lat: 53.35, lng: -6.265 },
            map,
            title: "Culture: Ending",
            icon: {
              url: "CuE.png",
              scaledSize: new google.maps.Size(48, 48),
            },
            animation: google.maps.Animation.DROP,
          });

          const infowindow4 = new google.maps.InfoWindow({
            content: `
          <div class="info-window-content">
            <h3>Culture</h3>
            <p>Status: Ending</p>
            <p>Location: Temple Bar</p>
            <p>Dublin, DO1A2Y5</p>
            <p>Experience the rich cultural heritage and immerse yourself in the arts!</p>
            </div>
          `
          });  

        // CJ- event listener that opens info window when clicked click to open event window
        marker4.addListener("click", handleMarkerClick(marker4, infowindow4));

          const marker5 = new google.maps.Marker({
          position: { lat: 53.355, lng: -6.255 },  
          map,
          title: "Sports: Ongoing",
          icon: {
            url: "SpO.png",
            scaledSize: new google.maps.Size(48, 48),
          },
          animation: google.maps.Animation.DROP,
          });

          const infowindow5 = new google.maps.InfoWindow({
            content: `
          <div class="info-window-content">
            <h3>Sports</h3>
            <p>Status: Ongoing</p>
            <p>Location: Croke Park</p>
            <p>Dublin, DO1A2Y5</p>
            <p>Come and witness the excitement of a thrilling sporting event!</p>
            </div>
          `
          });

        // CJ- event listener that opens info window when clicked click to open event window
        marker5.addListener("click", handleMarkerClick(marker5, infowindow5));

          const marker6 = new google.maps.Marker({
          position: { lat: 53.360, lng: -6.255 },  
          map,
          title: "Entertainment: Ongoing",
          icon: {
            url: "EnO.png",
            scaledSize: new google.maps.Size(48, 48),
          },
          animation: google.maps.Animation.DROP,
          });

          const infowindow6 = new google.maps.InfoWindow({
            content: `
          <div class="info-window-content">
            <h3>Sports</h3>
            <p>Status: Ongoing</p>
            <p>Location: Concert Hall</p>
            <p>Dublin, DO1A2Y5</p>
            <p>Experience the magic of live music and let the melodies transport you to another world!</p>
            </div>
          `
          });

        // CJ- event listener that opens info window when clicked click to open event window
        marker6.addListener("click", handleMarkerClick(marker6, infowindow6));

        //CJ- click event listener added to the map to close the info window when the map is clicked
        map.addListener('click', function() {
        if (currentInfoWindow) {
            currentInfoWindow.close();
        }
        });

//CJ- Dynamic JSON data for markers and info windows
          //CJ- Multiple Markers with Info Windows from JSON Data
          fetch('/eventsData.json')
            //CJ- convert data to JSON
          .then((response) => response.json())
            //CJ- log data to console
          .then((data) => {
            //CJ- loop through data array
           data.forEach((eventData, index) => {
            //CJ- create new marker for event
            const marker = new google.maps.Marker({
              //CJ- set position of marker to event location
                position: { lat: eventData.lat, lng: eventData.lon },
                map,
                //CJ- set title of marker to event name
                title: eventData.eventName,
                icon: {
                    url: "Crosshair.png",
                    scaledSize: new google.maps.Size(48, 48),
                },
                animation: google.maps.Animation.DROP,
            });


          // CJ- Function to handle the click event of the Read more button
          window.expandText = function(id) {
          //CJ- display the hidden text
              document.getElementById(id).style.display = 'inline';
              //CJ- hide the read more button
              document.getElementById('btn-' + id).style.display = 'none';
              //CJ- display the collapse button
              document.getElementById('collapse-btn-' + id).style.display = 'inline';
          }

          // CJ- Function to handle the click event of the Collapse button
          window.collapseText = function(id) {
          //CJ- hide the extra text
              document.getElementById(id).style.display = 'none';
              //CJ- display the read more button
              document.getElementById('btn-' + id).style.display = 'inline';
              //CJ- hide the collapse button
              document.getElementById('collapse-btn-' + id).style.display = 'none';
          }
          // CJ- Create an info window for the event
            const infowindow = new google.maps.InfoWindow({
                content: `
                    <div class="info-window-content">
                    <h3>${eventData.eventName}</h3>
                    <p><strong>Group Name:</strong> ${eventData.groupName}</p> 
                    <p><strong>Event Time:</strong> ${new Date(eventData.eventTime).toLocaleString()}</p> 
                    <p><strong>Event End Time:</strong> ${new Date(eventData.eventEndTime).toLocaleString()}</p>
                    <p><strong>Location:</strong> ${eventData.locationInfo}</p> <!-- Location info -->
                    <p>${eventData.eventDetails.substring(0, 100)} <!-- Displays the first 100 characters -->
                        <span id="extra-text-${eventData.eventId}" class="extra-text">${eventData.eventDetails.substring(100)}</span> 
                        <button id="btn-extra-text-${eventData.eventId}" class="expand-collapse-btn" onclick="window.expandText('extra-text-${eventData.eventId}');">Read more</button>
                        <button id="collapse-btn-extra-text-${eventData.eventId}" class="expand-collapse-btn" style="display: none;" onclick="window.collapseText('extra-text-${eventData.eventId}');">Collapse</button>
                    </p>
                    <img src="${eventData.eventImage}" alt="Event Image"> 
                    </div>
                `,
            });
            // CJ- Add an event listener to the marker to open the info window
            marker.addListener("click", () => {
            // Close the current info window if it's open
            if (currentInfoWindow) {
              currentInfoWindow.close();
            }
              //CJ- open the info window on the map at the marker location
                infowindow.open(map, marker);


              // CJ- Set the current info window to the newly opened one
               currentInfoWindow = infowindow;
            });
            });
          })


          //CJ- click event listener added to the map to close the info window when the map is clicked
          map.addListener('click', function() {
            if (currentInfoWindow) {
              currentInfoWindow.close();
            }
          })

          //CJ- log error to console
          .catch((error) => {
            //CJ- log error to console
              console.error("Error fetching JSON data:", error);
          });


        // CJ- Check if geolocation is available
        if (navigator.geolocation) {
          // CJ- Get user's location
          navigator.geolocation.getCurrentPosition(
            // CJ- Success callback
            (position) => {
              // CJ- Create an object to store user's location
              const userLocation = {
                // CJ- Get user's latitude and longitude
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };

//CJ- TO-DO- get city from userLocation (lat/long) and store as global variable

              // CJ- Center the map to user's location
              loadMap(userLocation);
              //  map.setCenter(userLocation);

              // CJ- Add a marker for user's location
              const userMarker = new google.maps.Marker({
                // CJ- Set the position of the marker to user's location
                position: userLocation,
                // CJ- Set the map to the map object
                map,
                // CJ- Set the title of the marker
                title: "Your Location",
              });
            },
            // CJ- Error handling
            (error) => {
              // CJ- Log error to console
              console.error("Error getting user's location:", error);
            }
          );
        } else {
          console.error("Geolocation is not supported by this browser.");
        }

      
      }
    </script>
     <!-- CJ- using env variable to store API key, must be implemented on render website-->
      <!-- <script> const key = env.mapApiKey; console.log(key); </script> -->

     <!-- CJ- Solution to hiding key -->
      <!-- <script>
      const apiKey = process.env.GOOGLE_MAPS_API_KEY;
      const script = document.createElement('script');
      script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&map_ids=13185b1ffbbba3af&callback=initMap`;
      document.body.appendChild(script);
    </script> -->

    <!-- CJ- loading map API & Map ID, after script because of callback function in URL that connects to initMap function -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo9c5JnECXrfMnYkVA2TSyStdrbZ3TO-w&map_ids=13185b1ffbbba3af&callback=initMap"></script>
