    
<div class="nav-bar">
    
    <Button><a href="/signup" id="">Following</a></Button>
    <button>Random</button>
    <button><a href="/" id="homeBTN">Home</a></Button>
    <button>Legend</button>
    <button><a href="/contact-us">contact</a></Button>
    
</div>