
<div class="nav-bar">
    
    <Button class="item following" onclick="popUpRegistryFunction()">Following</Button>
    <button class="item random">Random</button>
    <button class="item homeBTN">
        <a href="/">
            <img src="logo.png" alt="Home" class="home-logo">
        </a>
    </button>
    <button class="item legBTN">Legend</button>
    <button class="item contactBTN" id="contactusBTN" onclick="popUpContactFunction()">Contact</Button>
    
</div>

