
<div class="nav-bar">
    
    <Button class="item following" onclick="popUpRegistryFunction()">Following</Button>
    <button class="item random">Random</button>
    <button class="item homeBTN"><a href="/" id="links">Home</a></Button>
    <button class="item legBTN">Legend</button>
    <button class="item contactBTN" id="contactusBTN" onclick="popUpContactFunction()">contact</Button>
    
</div>

