<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/head.ejs') %>
<body style="background-color: transparent">

    
    <form class="contactForm">
        <label>your name</label>
        <input type="text">
        <br>
        <label>your ppsn</label>
        <input type="text">
        
    </form>
    

    
</body>
</html>