<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/head.ejs') %>
</head>
<body>

    <div class="followTab">
        <nav>
            <a href="/signup"></a>
            <a href=""></a>


        </nav>

    </div>

    
</body>
</html>