<!DOCTYPE html>
<html lang="en">
 <%- include('./Partials/header.ejs') %>
<body>
   
   

    <div class="map-div"> <!--This is our main body for the website-->
        <%- include('./Partials/nav.ejs') %> <!--This is our nav bar-->


    </div>
    


    <%- include('./Partials/footer.ejs') %>
</body>
</html>