<!DOCTYPE html>
<html lang="en">
<%- include('./Partials/head.ejs') %>

    <body>

        <div class="map-div" id="map-div"> <!--This is our main body for the website-->
            <%- include('./Partials/nav.ejs') %> <!--This is our nav bar-->
                <!-- The crosshair element -->
                <div id="crosshair" style="position: absolute; top: 10%; left: 50%;">X</div>
        </div>

        <%- include('./Partials/footer.ejs') %>

    </body>

</html>