<!DOCTYPE html>
<html lang="en">
  <%- include('./Partials/head.ejs') %>

  <body>
    <div class="mapandnav-div" id="mapandnav-div">
      <%- include('./Partials/nav.ejs') %>
      <!--This is our nav bar-->

      <div class="map-div" id="map-div">
        <!--This is our main body for the website-->
        <%- include('./Partials/map.ejs') %>
        <!--CJ- Google Map Partial-->
      </div>
    </div>

    <%- include('./Partials/footer.ejs') %>
  </body>
</html>
