<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/head.ejs') %>
<body>

    <form class="contactForm">
        <div class="login_signupBTN">
            <a href="/login">  Login In</a> <!--Would not work as buttons, Reason is unknown So I suggest just use links for the current time-->
            <a href="/signup"> Sign Up</a>
        </div>
        <br>
        <label>signup name</label>
        <input type="text">
        <br>
        <label>set password</label>
        <input type="text">
        
    </form>



   

    
</body>
</html>