<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/header.ejs') %>
<body>

    <form action="" class="forming signup">
        <label class="labels name">Name: </label>
        <input type="text" id="tf name">
        <label class="labels email">Email: </label>
        <input type="text" class="tf email">
        <label id="labels password">Password: </label>
        <input type="text" class="tf password">
    </form>

    
</body>
</html>